@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:ital@1&family=Poppins:wght@100&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
}


.bannerBgImage {
    height: 100vh;
    background: url("/images/bannr.jpg");
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle {
    font-size: 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.card {
    cursor: pointer;

}

.card:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(193, 150, 215);
}

.bIcon {
    width: 100px;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid rgb(202, 153, 232);
}

.card-img-top {
    height: 50vh;
}
body{
    background-color: rgb(62, 62, 88);
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.text-center{
    padding-top: 5rem;
    padding-bottom: 2rem;

}
.card-body{
    background-color: rgb(22, 22, 26);
    color: antiquewhite;
}
.card-body:hover{
    background-color: rgb(61, 50, 50);
    color: antiquewhite;
}



